@model IEnumerable<CodeMvc.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/Content/Site.css" rel="stylesheet" />

@Html.ActionLink("Create","Create")
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    @foreach(var emp in Model)
            {
                <tr>
                    <td>@emp.id</td>
                    <td>@emp.Name</td>
                    <td>@emp.Contact</td>
                    <td>@emp.Adress</td>
                    <td>@emp.Email</td>
                    <td><a href="/User/Edit?id=@emp.id"><i class="fa fa-edit" style="font-size: 25px;"></i></a>
                        <a href="/User/Delete?id=@emp.id"><i class="fa fa-trash" style="font-size: 25px;"></i></a>
                    </td>
                </tr>
            }
</table>